/* Color Theme Swatches in Hex */
.You-Move-Me-1-hex { color: #000000; }
.You-Move-Me-2-hex { color: #FFFFFF; }
.You-Move-Me-3-hex { color: #A6CE39; }
.You-Move-Me-4-hex { color: #6A6A6A; }
.You-Move-Me-5-hex { color: #E2E3E4; }
#q {color: #F7F7F7;}
#r {color: #0D0D0D;}
#s {color: #787878;}
#t {color: #D6D6D6;}
#u {color: #738F28;}
#v {color: #5B701F;}
#w {color: #B1DB3D;}
#x {color: #596E1F;}
#y {color: #C8E183;}

html {
  background-image: url("images/background2.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body {
  max-width: 475px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'PT Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
  color: #0D0D0D;
}

a {
  color: #738F28;
}

section {
  background-color: transparent;
  vertical-align: top;
  padding: 0px;
  margin-bottom: 10px;
  position: relative;
}

#header {
  position: sticky;
  top:0px;
  height: 100px;
  display: block;
  background-image: url(/images/header.png);
  background-color: white;
  z-index: 1;
}

.headerTitle {
  position: absolute;
  font-size: xx-large;
  top: 20px;
  right: 20px;
}

.sectionHead {
  background-color: #D6D6D6;
  padding: 2px 3px 3px 5px;
  font-size: larger;
  font-weight: bold;
}

#intro {
  background-color: #F7F7F7;
}

#footer {
  background-color: #F7F7F7;
  font-size: smaller;
}

#topCities {
  position: sticky;
  top: 100px;
  z-index: 1;
  overflow: unset;
  /* margin-bottom: 15px; */
  /* background-color: white; */
}

#rankings {
  display: inline-block;
  width: 100%;
}

#rank10 { 
  float:left;  
  background-color: #C8E183; 
  width:33%; 
  height:auto;
} 

#rank20 { 
  float:left;  
  background-color: rgb(217, 236, 164);
  width:34%; 
  height:auto; 
} 

#rank30 { 
  float:right;
  background-color: rgb(236, 248, 203);;
  width:33%; 
  height:auto; 
} 

.dropdown {
  position: relative;
  display: inline-block;
}

.metricHead {
  font-size: large;
  background-color: #E2E3E4;
  padding: 3px 3px 5px 3px;
  position: relative;
  /* z-index: 1000; */
}

.metricContent {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  padding: 0 3px 3px 3px;
  background-color: #F7F7F7;
}

.metricContent .description {
  display: block;
  background-color: #FFFFFF;
}

.expandMetric {
  border: 2px solid rgb(184, 214, 102);
  background-color: rgb(242, 255, 207);
  border-radius: 100%;
  padding: 0 3px 0 4px;
  color: rgb(184, 214, 102);
  font-weight: 700;
  font-size: small;
  text-decoration: none;
  cursor: pointer;
}

.name {
  padding-left: 5px;
}

#profileTop {
  position: relative;
  display: block;
  background-color: #F7F7F7;
  width: 100%;
  height: 40px;
}

#city {
  position: absolute;
  top: 0;
  left: 0;
}

#popDensity {
  position: absolute;
  bottom: 0;
  left: 0;
}

#cityPop {
  position: absolute;
  top: 0;
  right: 5px;
}

#metroPop {
  position: absolute;
  bottom: 0;
  right: 5px;
}

/* All the contents of the metric top container */

.popUpTitle {
  text-align: center;
  background-color: rgb(184, 214, 102);;
  padding: 0 2px 0 2px;
}

input[type=number]{
  width: 40px;
  border-color: rgb(184, 214, 102);
  border-style: solid;
}

.weight {
  position: relative;
  display: inline-block;
  float: right;
  height: 100%;
  width: 100%;
  margin-right: 2px;
}

/* All the contents of the metric bottom container */
.scoreLabel, .score {
  float: right;
  margin-right: 3px;
}

.rank {
  float: right;
  margin-right: 21px;
}

.top10 {
  border: 2px solid rgb(184, 214, 102);
  border-radius: 100%;
  color: rgb(184, 214, 102);
  background-color: rgb(242, 255, 207);
  padding: 0 4px 0 4px;
  margin: 0 3px 0 3px;
  font-weight: 700;
  font-size: small;
  right: 0;
  cursor: pointer;
  position: absolute;
  display: inline-block;
  opacity: 0;
  transition: opacity 0.1s;
}

.top10List {
  visibility: hidden;
  width: 120px;
  background-color: rgb(242, 255, 207);
  color: #738F28;
  text-align: left;
  padding: 0px 0px 2px 0px;
  /* border-radius: 6px; */
  position: absolute;
  z-index: 2;
  list-style: none;
  border: 2px solid rgb(184, 214, 102);;
  margin-top: -17px;
  margin-left: -130px;
  opacity: 0;
  transition: opacity 0.3s;
}

.top10:hover .top10List {
  visibility: visible;
  opacity: 1;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  float: right;
  width: 40px;
  height: 22px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(242, 255, 207);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 2px;
  background-color: white;
  border: 1px solid rgb(184, 214, 102);
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: rgb(184, 214, 102);
}

input:focus + .slider {
  box-shadow: 0 0 1px rgb(184, 214, 102);
}

input:checked + .slider:before {
  -webkit-transform: translateX(15px);
  -ms-transform: translateX(15px);
  transform: translateX(15px);
}
